@font-face {
  font-family: brico;
  src: url("../assets/Bricolage_Grotesque/static/BricolageGrotesque_24pt-Medium.ttf");
}
.about-conta {
  /* background-color: aqua; */
  width: 100%;
  padding: 30px;
}
/* sliders */
.aboutus {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.about-usslider {
  display: flex;
  width: 100%;
  height: 100%;
  transform: trasnsform 2s ease-in-out; /* for smooth animation */
}
.aboutSlide {
  flex: 0 0 100%;
  height: 100%;
  position: relative;
}
.about-usslider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-lay {
  position: absolute;
  /* top:50%; */
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #1b4d3e;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 70%;
}
.about-lay h2 {
  font-family: brico;
  font-size: bold;
  margin-bottom: 15px;
  color: #fffaa0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
}
.about-lay p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e0f7e0;
}

/* ======================resonsive Breakpoints========================== */
@media (max-width: 768px) {
  .aboutus {
    height: 70vh;
  }
  .about-lay h2 {
    font-size: 1.5rem;
  }
  .about-lay p {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .aboutus {
    height: 35vh;
  }
  .about-lay {
    padding: 10px 15px;
  }
  .about-lay h2 {
    font-size: 1.5rem;
  }
  .about-lay p {
    font-size: 0.8rem;
  }
}
/* iphone sizes */
@media (max-width: 375px) {
  .aboutus {
    height: 40vh;
  }
  .about-lay {
    bottom: 5%;
    width: 400px;
  }
  .about-lay h2 {
    font-size: 1.2rem;
  }
  .about-lay p {
    font-size: 0.75rem;
  }
}
@media (min-width: 376px) and (max-width: 430px) {
  .aboutus {
    height: 45vh;
  }
  .about-lay h2 {
    font-size: 1.4rem;
  }
   .about-lay p {
    font-size: 0.75rem;
  }
}
@media (max-width:519px) {
 .aboutus {
    height: 40vh;
  }
  .about-lay h2 {
    font-size: 1.5rem;
  }
   .about-lay p {
    font-size: 0.75rem;
  }
}
/*========================================= about-overview======================================== */
.about-overview{
  padding: 30px 20px;
  border: 2px solid #1b4d3e;
  border-radius: 30px;
   box-shadow: 0 3px 10px #FFFAA0;
   margin-bottom: 30px;
}
.about-overview h2{
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #1B4D3E;
   font-family: brico;
   text-align: center;
}
.about-overview p{
  font-size: 1.1rem;
  color: #333;
  max-width: 700px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
}

/* about-card-overview */
.about-card-overview{
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}
.about-cards{
  padding: 20px;
   width: 100%;
  text-align: center;
  transition: transform 0.9s ease, box-shadow 0.3s ease;
  margin: 0 auto 3rem;
  border-radius: 9px;
  min-height: 250px;
  background-color: transparent;
   border: 2px solid #1b4d3e;
   box-shadow: 0 8px 8px -4px #1B4D3E;
}
.about-cards img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}
.about-cards h3{
  font-size: 1.1rem;
   font-family: brico;
   margin-bottom: 10px;
   line-height: 25px;
   color: #1b4d3e;
}
.about-cards h2{
  font-size: 1.1rem;
   font-family: brico;
   margin-bottom: 10px;
   color: #1b4d3e;
}
.about-cards p{
  color: #1B4D3E;
  font-size: 600;
}
.about-cards:hover{
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0 12px 25px rgba(27,77,62,0.3);
  border: 2px solid #fffaa0;
}

/* about-highlights */
.about-highlights{
  padding: 70px 20px;
  background: #1B4D3E;
  text-align: center;
  margin-bottom: 30px;
}
.about-high-higlights{
  max-width: 900px;
  margin: 0 auto;
}
.about-high-higlights h2{
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #fffaa0;
}
.about-high-higlights p{
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #e0f7e0;
  line-height: 1.6;
}
.about-high-higlights ul{
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
  text-align: left;
  margin-bottom: 60px;
}
.about-high-higlights li{
   cursor: pointer;
  font-size: 1rem;
  color: #ffff;
  margin: 12px 0;
  padding-left: 35px;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
}
.about-high-higlights li::before{
  content:"✔️" ;
  left:0;
  top:0;
  color: #e0f7e0;
  font-weight: bold;
  font-size: 1.1rem;
 
}
/* hover */
.about-high-higlights li:hover{
  transform: translateX(8px);
  color: #e0f7e0;
}
/* about-cards-hights */
.about-cards-hights{
  width: 100%;
 overflow-y: hidden;
 overflow-x: auto;  /* allow horizontal scroll */
 white-space: nowrap;
 padding: 20px 0;
scroll-behavior: smooth;
}
.abouthights{
  align-items: center;
  gap: 20px;
display: flex;
margin: 0 auto;
height: 400px;
max-width: 1000px;
position: relative;
}
.about-h-card{
  height: 250px;
  flex:  0 0 auto;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 350px;
  z-index: 0;
  border-radius: 16px;
  background-size: contain;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);

}
/* .about-h-card:hover{
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(27,77,62,0.4);
} */
.about-item-1{
  left:15%;
  opacity: -4;
  transform: translateX(-50%);
}
.about-item-2 , .about-item-3{
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}
.about-item-2{
  left:30%;
  transform: translateX(-50%);
}
.about-item-3{
  box-shadow:  -3px 5px 33px 6px #fffaa072;
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}
.about-item-4{
  left:10%;
  transform: translateX(-50%);
   opacity: 1;
}
.about-item-5{
  left: 85%;
  /* right: 30%; */
  opacity: 1;
  transform: translateX(-50%);
}
.about-control{
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}
.about-control button{

}
.about-event{
  background: #ffff;
  padding: 70px 20px;
  text-align: center;
}
.about-eventheader h2{
    font-family: brico;
    margin-bottom: 15px;
    color: #1B4D3E;
}
.about-eventheader p{
  font-size: 1.1rem;
  color:#1b4d3e;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
}
/* about-event-container */
.about-event-container{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  overflow-x:auto ;
  scroll-snap-type: x mandatory;
  padding: 20px 10px;
  scrollbar-width: none;
}
.AevenetCard{
  /* flex: 1; */
  flex:0 0 auto;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease;
  cursor: pointer;
  background:#1B4D3E;
  scroll-snap-align: start;
}
.AevenetCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}
.AevenetCard:hover{
 transform:  scale(1.05);
}
.AevenetCard:hover img{
  transform: scale(1.1);
}
.Aevent-lay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:#FFFAA0;
  color: #1b4d3e;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 14px;
}
.Aevent-lay h3{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
    font-family: brico;
}
.AevenetCard:hover .Aevent-lay{
  opacity: 1;

}


/* about-timelines */
.about-timelines{
  padding: 60px 20px;
  background: #e0f7e0;
  text-align: center;
}
.acount-timelines-title{
  font-size: 2rem;
  margin-bottom: 40px;
  font-family: brico;
  color: #1B4D3E;
  font-weight: 800;
}
.acounttimelines{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.acounttimelines::before{
  content: "";
  position: absolute;
  top:0;
  left: 50%;
  width: 4px;
  height: 100%;
  background:#FFFAA0;
  transform:  translateX(-50%);
}
.about-timelines-item{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  position: relative;
}
.about-timelines-month{
  flex:1;
  text-align: right;
  font-weight: 700;
  padding-right: 30px;
  color: #1b4d3e;
}
.about-timelines-content{
  flex:2;
  background: #1b4d3e6c;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 5px 10 rgba(0, 0, 0, 0.371);
}
.about-timelines-content h3{
  margin-bottom: 12px;
  font-size: 1.25rem;
  color: #1b4d3e;
  font-family: brico;
}
.about-timelines-content p{
  margin: 0;
  font-size: 0.93rem;
  line-height: 20px;
}




















