
*
{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:Inter,system-ui,Segoe UI,Arial;
    margin:0;
    padding: 0;
    color:#222;
    
    }

.main-content{
    min-height:70vh; 
    padding:0;
}
a{
    color:var(--accent);
    text-decoration:none
    }
/* .btn{
    
    width: auto;
    background:var(--accent);
    color:#fff;
    border-radius: 40px;
} */


.btn-small{
    padding:.35rem .6rem; 
    border-radius:5px
}

img{
    max-width:100%;
    display:block
}