.nav-header{
  width: 100%;
  border-bottom:1px solid #eee;
  background-color: #e0f7e0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 100px;
  padding-top: 10px;
  top:0;
  z-index:50
}
.nav-inner{
  max-width:1200px;
  width: 100%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:.6rem;
}
@font-face {
  font-family: dis;
  src: url('../assets/DM_Serif_Display/DMSerifDisplay-Italic.ttf');
}
.brand{
  font-weight:700;
  font-family: dis;
  font-size: 1.5rem;
  color: #1B4D3E;
}
.nav-btn{
  display: inline-flex;               /* inline + flex for alignment */
  align-items: center;                /* vertical center */
  gap: 0.5rem;
  padding: 0.4rem 0.7rem;
  border: none;
  border-radius: 50px;                /* pill shape */
  background-color: #1B4D3E;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration:none
}
.nav-links {
  background-color: #C2E0C2;
  padding: 0.8rem 1rem;
  justify-content: space-between;
  width: 560px;
  display: flex;
  gap: 10px;  
  border-radius: 50px;
}
@font-face {
    font-family: brico;
    src: url("../assets/Bricolage_Grotesque/static/BricolageGrotesque_24pt_Condensed-Light.ttf");
}
.nav-links a{
  margin-left:1rem;
   color: #1B4D3E;
   font-family: brico;
  
}
.nav-links a.active{
  font-weight:700;
}
.nav-toggle{
  display:none
}

@media(
  max-width:920px)
  {
.nav-links, .nav-inner .btn{
  display:none
}
.nav-toggle{
  display:block;
  border:none;
  background:none;
  font-size:1.4rem
}

}